html {
    font-size: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#header {
    font-size: 4rem;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

#load-unload {
    border-collapse: collapse;
    border: 1px solid black;
    width: 80%;
    margin: 0px auto;
}

th, td {
    border: 1px solid black;
    font-size: 1.5rem;
    padding: 8px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
}

.generator {
    border: solid 1px black;
    font-size: 1.5rem;
    text-align: center;
};

.edit {
    border: solid 1px black;
    font-size: 1.5rem;
    text-align: center;
}

#load-unload th[colspan="7"] {
    background-color: #eee;
    font-size: 2rem;
}

/* lunch */

#lunch-table1 {
    border-collapse: collapse;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    margin-top: 10px;
    
}

#lunch-table1 th,
#lunch-table1 td {
    border: 1px solid #333;
    padding: 8px;
}

#lunch-table1 th[colspan="2"] {
    background-color: #eee;
    font-size: 2rem;
}

/* chores */
.chore-schedule {
    margin-top: 5px;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.chore-area {
    margin: 0 auto;
}

.chore-name {
   margin: 0 auto;
   gap: 2rem;
}

#chore-schedule th[colspan='2'] {
    background-color: #eee;
    font-size: 2rem;
}



@media print {
    button {
        display: none !important;
    }
}